body {background-color: rgb(100, 110, 120);
width: 1000px;
align-items: center;
margin:auto;
outline: solid 5px rgb(141, 152, 167); 
}

header {background-color: rgb(219, 43, 57);
text-align: center;
}

#logo {width: 50px;}

#title {
font-family: 'Tahoma';
color: whitesmoke;
font-size: 70px;
margin-bottom: 0;
}

nav {background-color: rgb(141, 152, 167);
    font-family: "Georgia";
text-align: center;
padding: 5px;
}

.navItems {padding-left: 30px;
padding-right: 30px;}

.navItems:hover {background-color: whitesmoke;}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

section {background-color: rgb(253, 240, 213);
height: 600px;}

canvas {width: 1000px;
    height: 600px;
background-color: black;}

#rock {
display: block;
margin: auto;
justify-content: center;
}

footer {background-color: rgb(141, 152, 167);}
#footertext {
    color: white;
    margin-top: 0;
    padding: 5px;
    text-align: center;
}